################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/LOE-V6-SERVER/.vs/loe-v6-server/v15/Server/sqlite3
/LOE-V6-SERVER/bin-server/